* {
  font-family: "Noto Sans", sans-serif;
}

#header {
  border: 1px solid black;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

#container {
  position: relative;
  width: 100%;
  height: 400px;
  margin: 200px auto;
  text-align: center;
  display: block;
}

.logo {
  max-width: 18%;
}

form {
  padding: 20px 10px 20px 10px;
}

button {
  width: 130px;
  height: 35px;
  border-radius: 3px;
  border-color: #5a5a5a15;
  background-color: #edededb0;
  font-size: 0.8em;
  color: #595959;
}

button:hover,
input:hover,
button:focus,
input:focus {
  border-color: #b5b5b5;
  font-weight: 700;
  outline: none;
  box-shadow: 3px 3px 3px #ededed;
}

#submit {
  margin-right: 5px;
}

#lucky {
  margin-left: 5px;
}

input {
  border-radius: 20px;
  border: 0.5px solid #ededed;
  width: 33%;
  height: 35px;
  text-align: center;
  font-size: 1.2em;
}

#footer {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: #edededb0;
  color: #595959;
  font-size: 0.9em;
}

li {
  display: inline;
}
