* {
  font-family: "Noto Sans", sans-serif;
}

/* Box-sizing border-box */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#container {
  display: flex;
  list-style: none;
  padding: 0 20px 0 20px;
  margin: 0;
  align-items: center;
  font-size: 0.75em;
}

#footer {
  display: flex;
  position: fixed;
  bottom: 0;
  list-style: none;
  padding: 0 20px 0 20px;
  margin: 0;
  height: 40px;
  width: 100%;
  align-items: center;
  background-color: #edededb0;
  color: #595959;
  font-size: 0.8em;
}

#search_container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: repeat(5, 1fr);
  height: 85vh;
}

.logo {
  width: auto;
  height: 70%;
  grid-column: 2/3;
  grid-row: 2/3;
  justify-self: center;
}

.form_container {
  grid-column: 2/3;
  grid-row: 3/4;
  justify-self: center;
  align-self: start;
}

.form_container button {
  width: 130px;
  height: 35px;
  margin-top: 30px;
  border-radius: 3px;
  border: 1px solid #edededb0;
  background-color: #edededb0;
  font-size: 0.8em;
  color: #595959;
}

#submit {
  margin-left: 25%;
  margin-right: 5px;
}

.form_container button:hover,
.form_container input:hover,
.form_container button:focus,
.form_container input:focus {
  border-color: #b5b5b5;
  font-weight: 700;
  outline: none;
  box-shadow: 1px 1px 1px #ededed;
}

input {
  border-radius: 20px;
  border: 1.5px solid #ededed;
  width: 500px;
  height: 40px;
  text-align: center;
  font-size: 1.2em;
}

.nav {
  padding: 10px;
}

.first {
  margin-left: auto;
}

.left {
  justify-content: flex-start;
}

.right {
  justify-content: flex-end;
}

#avatar {
  border-radius: 50%;
  max-width: 30px;
  height: auto;
}
